@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@media screen and (max-width: 375px) {
	.greeting {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: left;
		align-items: center;
		grid-gap: 0.5rem;
		margin: 0.8rem;
	}

	.sun {
		color: black;
		width: 100%;
		grid-column-start: 1;
	}

	.morning {
		grid-column-start: 2;
		font-size: 0.8rem;
		font-family: Inter;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
}
