@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@media screen and (max-width: 375px) {
	.location-container {
		display: grid;
		align-self: end;
		margin: 1rem;
		grid-gap: 0.5rem;
		grid-row-start: 2;
		grid-column-start: 1;
	}

	.location {
		display: grid;
		grid-column-start: 1;
		font-family: Inter;
		font-size: 1rem;
		color: #ffff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 1rem;
		align-self: end;
		letter-spacing: 3px;
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	.location-container {
		display: grid;
		align-self: end;
		margin: 1rem;
		grid-gap: 0.5rem;
		grid-row-start: 2;
		grid-column-start: 1;
	}

	.location {
		display: grid;
		grid-column-start: 1;
		font-family: Inter;
		font-size: 1rem;
		color: #ffff;
		text-transform: uppercase;
		font-weight: bold;
		padding: 1rem;
		align-self: end;
		letter-spacing: 3px;
	}
}
