@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@media screen and (max-width: 375px) {
	.time-container {
		display: grid;
		grid-template-columns: auto;
		margin: 2rem;
	}
	.time {
		font-family: Inter;
		font-weight: bold;
		font-size: 4rem;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
}
