@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@media screen and (max-width: 375px) {
	.time-details {
		display: grid;
		grid-row-start: 3;
		grid-column-start: 1;
		justify-content: stretch;
		font-family: Inter;
		color: black;
		padding: 1rem;
		align-content: space-around;
		height: 20vh;
		background: linear-gradient(
			90deg,
			rgba(242, 242, 242, 1) 0%,
			rgba(214, 214, 214, 1) 91%,
			rgba(194, 194, 194, 1) 100%
		);
	}

	.caption {
		display: inline-flex;
		justify-content: space-between;
		align-items: baseline;
		text-transform: uppercase;
		font-size: 0.6rem;
		font-weight: 300;
		letter-spacing: 2px;
	}

	.detail {
		text-transform: capitalize;
		font-size: 1.2rem;
		font-weight: bolder;
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	.time-details {
		display: grid;
		grid-row-start: 3;
		grid-column-start: 1;
		justify-content: stretch;
		font-family: Inter;
		color: black;
		padding: 1rem;
		align-content: space-around;
		height: 20vh;
		background: rgb(242, 242, 242);
		background: linear-gradient(
			90deg,
			rgba(242, 242, 242, 1) 0%,
			rgba(214, 214, 214, 1) 91%,
			rgba(194, 194, 194, 1) 100%
		);
	}

	.caption {
		display: inline-flex;
		justify-content: space-between;
		align-items: baseline;
		text-transform: uppercase;
		font-size: 0.6rem;
		font-weight: 300;
		letter-spacing: 2px;
	}

	.detail {
		text-transform: capitalize;
		font-size: 1.2rem;
		font-weight: bolder;
	}
}
